@mixin border-left-radius($radius) {
    -webkit-border-top-left-radius: $ radius;
    -moz-border-top-left-radius: $ radius;
    -ms-border-top-left-radius: $ radius;
    -o-border-top-left-radius: $ radius;
    border-top-left-radius: $ radius;

    -webkit-border-bottom-left-radius: $ radius;
    -moz-border-bottom-left-radius: $ radius;
    -ms-border-bottom-left-radius: $ radius;
    -o-border-bottom-left-radius: $ radius;
    border-bottom-left-radius: $ radius;
}

.nowplayingcard {
    margin: 0 auto;
    margin-top: 5%
}

.nowplayingcontainer-inner {
    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 50px;
    display: inline-flex;
    @include border-left-radius(5px);
}


img#trackart {
    width: 100%;
    float: left;
    left: 0;
    @include border-left-radius($globalBorderRadius);
}

.trackInfo {
    font-size: 13px !important;
    width: 90%;
    font-weight: bold;
    float: top;
    display: inline-block;
    padding: 15px;
}
a.trackInfo {
    font-size: 13px !important;
    text-overflow: ellipsis;
}


